button {
  all: unset;
  box-sizing: border-box;
  font-weight: bold;
  color: #fff;
  min-width: max-content;
  height: max-content;

  border: none;
  border-radius: 10px;
  background: var(--color-main);
  
  padding: 0.6rem 1rem;
  margin: 0 0.2rem;
}